$primary: #7b1fa2;

@import '~bootstrap/scss/bootstrap';

a.list-group-item {
  color: $body-color;
}

.list-group-item-text:last-child {
  margin-bottom: 0;
}

.fade-enter {
  position: absolute;
  top: 0;
  left: 100vw;
  width: 100%;
}

.fade-enter-active {
  left: 0;
  transition: left 250ms ease-out;
}

.fade-exit {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.fade-exit-active {
  left: -100vw;
  transition: left 250ms ease-out;
}
